
.header-bg{
    background-color:#264653;

}
.btn-color{
    background: #E76F51;
}
.img-grayscale{
    filter: grayscale(100%);
}
.rating-color i{
    color: #E77C40;
}
.text-color{
    color: #E76F51;

}

h2{
    font-size: 48px !important;
}